{% extends "rango/base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block body_block %}    
    <p> visits: {{ visits }}</p>
    <h2>Pop Categories</h2>
        {% for category in category_list %}
        	<li><a href="{% url 'category' category.slug %}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
    <h2>Pop Pages</h2>
    <ul>
    	{% for page in pages %}
    		<li><a href="{{page.url}}">{{page.title}}</a></li>
    	{% endfor %}
    </ul>
{% endblock body_block %}