<!DOCTYPE html>
{% load static %}
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
	<head><img src="{% static "images/wow.jpg"%}" alt="Picture of Rango"/></head>
    <h1>Rango says...</h1>
    hello world! 
    <h2>Pop Categories</h2>
    <ul>
        {% for category in category_list %}
        	<li><a href="/rango/category/{{category.slug}}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
    <h2>Pop Pages</h2>
    <ul>
    	{% for page in pages %}
    		<li><a href="{{page.url}}">{{page.title}}</a></li>
    	{% endfor %}
    </ul>
    <a href="/rango/about">About</a><br/>
    
</body>
</html>